// Colors
$clr1: #2c2c54;
$clr2: #40407a;
$clr3: #d1ccc0;
$clr4: #aaa69d;
$clr5: #f7f1e3;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;